<%- include('../partial/header') %>

<section class="cart container mt-2 my-3 py-5">
    <div class="container mt-2 text-center">
        <h2>Payment</h2>
        <p>Total: $ <%= total %></p>
        <button class="btn btn-primary">Pay Now</h3>
    </div>
</section>


<%- include('../partial/footer') %>